/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 14, ../../../app/stylesheets/partials/_base.sass */
.whiteText {
  color: white;
}

/* line 16, ../../../app/stylesheets/partials/_base.sass */
.greenText {
  color: #7dbb42;
}

/* line 18, ../../../app/stylesheets/partials/_base.sass */
.grayText {
  color: #5c5d5e;
}

/* line 39, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 65, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 67, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 68, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 69, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 70, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 71, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 72, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 73, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 77, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #000066;
}
/* line 21, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc0099;
}

/* line 78, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 79, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 80, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 81, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 82, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 83, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 84, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 85, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 86, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 87, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 88, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 89, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 90, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 91, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 92, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 94, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 95, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 96, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 97, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 98, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 99, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 100, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 102, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 103, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 9, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clear {
  clear: both;
}

/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.nowrap {
  white-space: nowrap;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 18, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 35, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 8, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
.showgrid {
  background: url('/images/grid.png?1293055221');
}

/* line 4, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error a {
  color: #8a1f11;
}

/* line 6, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice a {
  color: #514721;
}

/* line 8, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success a {
  color: #264409;
}

/* line 10, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.hide {
  display: none;
}

/* line 12, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.highlight {
  background: yellow;
}

/* line 14, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.added {
  background: #006600;
  color: white;
}

/* line 16, ../../../../../../.rvm/gems/ruby-1.9.2-p0@itjobs/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.removed {
  background: #990000;
  color: white;
}

/* line 13, ../../../app/stylesheets/screen.sass */
body {
  font-family: verdana;
  text-align: left;
}

/* line 2, ../../../app/stylesheets/partials/_header.sass */
#header {
  position: absolute;
  width: 100%;
  height: 87px;
  top: 0px;
  z-index: 100;
}
/* line 9, ../../../app/stylesheets/partials/_header.sass */
#header .middle {
  position: relative;
  margin-top: 0px;
  margin-right: 250px;
  margin-bottom: 0px;
  margin-left: 80px;
  height: 87px;
  background-image: url("/images/layout/header/header-bg-middle.png");
  background-repeat: y-repeat;
}
/* line 21, ../../../app/stylesheets/partials/_header.sass */
#header .middle #logo {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 126px;
  height: 55px;
  background-image: url("/images/layout/header/itjobs-logo.png");
  background-repeat: no-repeat;
}
/* line 31, ../../../app/stylesheets/partials/_header.sass */
#header .left {
  width: 80px;
  height: 87px;
  background-image: url("/images/layout/header/header-bg-left.png");
  float: left;
}
/* line 36, ../../../app/stylesheets/partials/_header.sass */
#header .right {
  width: 250px;
  height: 87px;
  background-image: url("/images/layout/header/header-bg-right.png");
  float: right;
}
/* line 42, ../../../app/stylesheets/partials/_header.sass */
#header #add-button {
  float: right;
  width: 150px;
  height: 51px;
  margin-top: 12px;
  margin-right: 30px;
  background-image: url("/images/layout/header/red-button.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
/* line 52, ../../../app/stylesheets/partials/_header.sass */
#header #add-button:hover {
  background-position: 0px -51px;
  cursor: pointer;
}
/* line 56, ../../../app/stylesheets/partials/_header.sass */
#header #add-button-link {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 8px;
  text-decoration: none;
}

@media screen {
  /* line 66, ../../../app/stylesheets/partials/_header.sass */
  #header {
    position: fixed;
  }
}

/* line 1, ../../../app/stylesheets/partials/_content.sass */
#content {
  position: relative;
  margin-top: 90px;
  margin-right: auto;
  margin-button: 10px;
  margin-left: auto;
  width: 950px;
}
/* line 10, ../../../app/stylesheets/partials/_content.sass */
#content .standingSeperatorLine {
  background-image: url("/images/layout/content/standing-seperator-line-login.png");
  background-repeat: no-repeat;
  background-position: top center;
}

/* line 15, ../../../app/stylesheets/partials/_content.sass */
.content {
  position: relative;
  overflow: hidden;
}
/* line 19, ../../../app/stylesheets/partials/_content.sass */
.content .partial-box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  background-image: url("/images/layout/content/transparant-background.png");
  float: left;
  margin: 0px 10px 5px 0px;
}
/* line 30, ../../../app/stylesheets/partials/_content.sass */
.content .group-box {
  float: left;
  margin: 15px 10px 5px 5px;
  padding: 0px;
}
/* line 34, ../../../app/stylesheets/partials/_content.sass */
.content .width-1-4 {
  width: 220px;
}
/* line 36, ../../../app/stylesheets/partials/_content.sass */
.content .width-2-4 {
  width: 457px;
}
/* line 38, ../../../app/stylesheets/partials/_content.sass */
.content .width-3-4 {
  width: 694px;
}
/* line 40, ../../../app/stylesheets/partials/_content.sass */
.content .width-4-4 {
  width: 933px;
}
/* line 42, ../../../app/stylesheets/partials/_content.sass */
.content .padding {
  padding: 10px;
}
/* line 44, ../../../app/stylesheets/partials/_content.sass */
.content h1 {
  font-size: 20px;
  font-weight: bold;
  color: #7dbb42;
  margin: 10px;
}
/* line 49, ../../../app/stylesheets/partials/_content.sass */
.content h2 {
  font-size: 18px;
  font-weight: bold;
  color: #7dbb42;
  margin: 10px;
}
/* line 54, ../../../app/stylesheets/partials/_content.sass */
.content h3 {
  font-size: 16px;
  font-weight: bold;
  color: #5c5d5e;
  margin: 10px;
}
/* line 59, ../../../app/stylesheets/partials/_content.sass */
.content h4 {
  font-size: 16px;
  font-weight: normal;
  color: #7dbb42;
  margin: 10px;
}
/* line 64, ../../../app/stylesheets/partials/_content.sass */
.content p,
.content .editor,
.content input,
.content textarea {
  font-face: helvetica;
  font-size: 16px;
  color: #5c5d5e;
  margin: 5px 10px;
  word-wrap: break-word;
  text-align: justify;
}
/* line 74, ../../../app/stylesheets/partials/_content.sass */
.content p a,
.content .editor a,
.content input a,
.content textarea a {
  color: #5c5d5e;
  text-decoration: underline;
}
/* line 77, ../../../app/stylesheets/partials/_content.sass */
.content p a:hover,
.content .editor a:hover,
.content input a:hover,
.content textarea a:hover {
  color: #5c5d5e;
  text-decoration: none;
  cursor: pointer;
}
/* line 81, ../../../app/stylesheets/partials/_content.sass */
.content textarea,
.content input,
.content .editor {
  width: 660px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 4px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #5c5d5e;
}
/* line 97, ../../../app/stylesheets/partials/_content.sass */
.content textarea:focus,
.content input:focus,
.content .editor:focus {
  outline: solid 2px #6fabdd;
}
/* line 102, ../../../app/stylesheets/partials/_content.sass */
.content .editor {
  min-height: 100px;
}
/* line 105, ../../../app/stylesheets/partials/_content.sass */
.content .left-of-h2 {
  position: relative;
  top: 10px;
  float: right;
}
/* line 109, ../../../app/stylesheets/partials/_content.sass */
.content .left-of-h2 a {
  color: #5c5d5e;
  text-decoration: none;
}
/* line 112, ../../../app/stylesheets/partials/_content.sass */
.content .left-of-h2 a:hover {
  color: #5c5d5e;
  text-decoration: underline;
  cursor: pointer;
}

/* line 117, ../../../app/stylesheets/partials/_content.sass */
.sidebar-label {
  font-weight: bold;
  margin-left: 2px;
  margin-bottom: 3px;
}

/* line 126, ../../../app/stylesheets/partials/_content.sass */
.sidebar-menu a {
  color: #5c5d5e;
  text-decoration: none;
}
/* line 129, ../../../app/stylesheets/partials/_content.sass */
.sidebar-menu a:hover {
  color: #5c5d5e;
  text-decoration: underline;
  cursor: pointer;
}

/* line 135, ../../../app/stylesheets/partials/_content.sass */
#editorToolBar {
  position: absolute;
  top: 138px;
  left: 300px;
}

/* line 140, ../../../app/stylesheets/partials/_content.sass */
.nicEdit-selected {
  border: 0px none !important;
}

/* line 143, ../../../app/stylesheets/partials/_content.sass */
.nicEdit-panel {
  border: 0px none !important;
}

/* line 146, ../../../app/stylesheets/partials/_content.sass */
.form_box {
  padding: 0px 0px 0px 20px;
}

/* line 1, ../../../app/stylesheets/partials/_footer.sass */
#copyright {
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 1, ../../../app/stylesheets/partials/_content.sass */
#content {
  position: relative;
  margin-top: 90px;
  margin-right: auto;
  margin-button: 10px;
  margin-left: auto;
  width: 950px;
}
/* line 10, ../../../app/stylesheets/partials/_content.sass */
#content .standingSeperatorLine {
  background-image: url("/images/layout/content/standing-seperator-line-login.png");
  background-repeat: no-repeat;
  background-position: top center;
}

/* line 15, ../../../app/stylesheets/partials/_content.sass */
.content {
  position: relative;
  overflow: hidden;
}
/* line 19, ../../../app/stylesheets/partials/_content.sass */
.content .partial-box {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
  background-image: url("/images/layout/content/transparant-background.png");
  float: left;
  margin: 0px 10px 5px 0px;
}
/* line 30, ../../../app/stylesheets/partials/_content.sass */
.content .group-box {
  float: left;
  margin: 15px 10px 5px 5px;
  padding: 0px;
}
/* line 34, ../../../app/stylesheets/partials/_content.sass */
.content .width-1-4 {
  width: 220px;
}
/* line 36, ../../../app/stylesheets/partials/_content.sass */
.content .width-2-4 {
  width: 457px;
}
/* line 38, ../../../app/stylesheets/partials/_content.sass */
.content .width-3-4 {
  width: 694px;
}
/* line 40, ../../../app/stylesheets/partials/_content.sass */
.content .width-4-4 {
  width: 933px;
}
/* line 42, ../../../app/stylesheets/partials/_content.sass */
.content .padding {
  padding: 10px;
}
/* line 44, ../../../app/stylesheets/partials/_content.sass */
.content h1 {
  font-size: 20px;
  font-weight: bold;
  color: #7dbb42;
  margin: 10px;
}
/* line 49, ../../../app/stylesheets/partials/_content.sass */
.content h2 {
  font-size: 18px;
  font-weight: bold;
  color: #7dbb42;
  margin: 10px;
}
/* line 54, ../../../app/stylesheets/partials/_content.sass */
.content h3 {
  font-size: 16px;
  font-weight: bold;
  color: #5c5d5e;
  margin: 10px;
}
/* line 59, ../../../app/stylesheets/partials/_content.sass */
.content h4 {
  font-size: 16px;
  font-weight: normal;
  color: #7dbb42;
  margin: 10px;
}
/* line 64, ../../../app/stylesheets/partials/_content.sass */
.content p,
.content .editor,
.content input,
.content textarea {
  font-face: helvetica;
  font-size: 16px;
  color: #5c5d5e;
  margin: 5px 10px;
  word-wrap: break-word;
  text-align: justify;
}
/* line 74, ../../../app/stylesheets/partials/_content.sass */
.content p a,
.content .editor a,
.content input a,
.content textarea a {
  color: #5c5d5e;
  text-decoration: underline;
}
/* line 77, ../../../app/stylesheets/partials/_content.sass */
.content p a:hover,
.content .editor a:hover,
.content input a:hover,
.content textarea a:hover {
  color: #5c5d5e;
  text-decoration: none;
  cursor: pointer;
}
/* line 81, ../../../app/stylesheets/partials/_content.sass */
.content textarea,
.content input,
.content .editor {
  width: 660px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 4px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #5c5d5e;
}
/* line 97, ../../../app/stylesheets/partials/_content.sass */
.content textarea:focus,
.content input:focus,
.content .editor:focus {
  outline: solid 2px #6fabdd;
}
/* line 102, ../../../app/stylesheets/partials/_content.sass */
.content .editor {
  min-height: 100px;
}
/* line 105, ../../../app/stylesheets/partials/_content.sass */
.content .left-of-h2 {
  position: relative;
  top: 10px;
  float: right;
}
/* line 109, ../../../app/stylesheets/partials/_content.sass */
.content .left-of-h2 a {
  color: #5c5d5e;
  text-decoration: none;
}
/* line 112, ../../../app/stylesheets/partials/_content.sass */
.content .left-of-h2 a:hover {
  color: #5c5d5e;
  text-decoration: underline;
  cursor: pointer;
}

/* line 117, ../../../app/stylesheets/partials/_content.sass */
.sidebar-label {
  font-weight: bold;
  margin-left: 2px;
  margin-bottom: 3px;
}

/* line 126, ../../../app/stylesheets/partials/_content.sass */
.sidebar-menu a {
  color: #5c5d5e;
  text-decoration: none;
}
/* line 129, ../../../app/stylesheets/partials/_content.sass */
.sidebar-menu a:hover {
  color: #5c5d5e;
  text-decoration: underline;
  cursor: pointer;
}

/* line 135, ../../../app/stylesheets/partials/_content.sass */
#editorToolBar {
  position: absolute;
  top: 138px;
  left: 300px;
}

/* line 140, ../../../app/stylesheets/partials/_content.sass */
.nicEdit-selected {
  border: 0px none !important;
}

/* line 143, ../../../app/stylesheets/partials/_content.sass */
.nicEdit-panel {
  border: 0px none !important;
}

/* line 146, ../../../app/stylesheets/partials/_content.sass */
.form_box {
  padding: 0px 0px 0px 20px;
}

/* line 1, ../../../app/stylesheets/partials/_common.sass */
#background-img {
  position: fixed;
  top: 0px;
}

/* line 5, ../../../app/stylesheets/partials/_common.sass */
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* line 10, ../../../app/stylesheets/partials/_common.sass */
.textAlignLeft {
  text-align: left;
}

/* line 13, ../../../app/stylesheets/partials/_common.sass */
.hidden {
  display: none;
}

/* line 1, ../../../app/stylesheets/partials/_buttons.sass */
.button {
  position: relative;
  width: 156px;
  height: 40px;
  float: left;
  border: none;
  font-size: 14px;
  color: #5c5d5e;
  padding-top: 8px;
  text-align: center;
  overflow: hidden;
  background-image: url("/images/layout/buttons/button-background.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

/* line 15, ../../../app/stylesheets/partials/_buttons.sass */
.button:hover {
  background-position: 0px -50px;
  color: #7dbb42;
  cursor: pointer;
}

/* line 19, ../../../app/stylesheets/partials/_buttons.sass */
.button-disabled {
  position: relative;
  width: 156px;
  height: 40px;
  float: left;
  border: none;
  font-size: 14px;
  color: #d6d6d6;
  padding-top: 8px;
  margin: 2px;
  text-align: center;
  background-image: url("/images/layout/buttons//button-background.png");
  background-repeat: no-repeat;
  background-position: 0px -100px;
}

/* line 34, ../../../app/stylesheets/partials/_buttons.sass */
.logoButton {
  margin: -2px 10px 0px 10px;
  position: relative;
  width: 26px;
  height: 26px;
  float: left;
  border: none;
  background-image: url("/images/layout/buttons//small-logos.png");
  background-repeat: no-repeat;
}

/* line 43, ../../../app/stylesheets/partials/_buttons.sass */
.Linkedin {
  background-position: 0px -30px;
}

/* line 45, ../../../app/stylesheets/partials/_buttons.sass */
.Facebook {
  background-position: 0px -60px;
}

/* line 47, ../../../app/stylesheets/partials/_buttons.sass */
.Google {
  background-position: 0px -90px;
}

/* line 49, ../../../app/stylesheets/partials/_buttons.sass */
.Twitter {
  background-position: 0px -120px;
}

/* line 51, ../../../app/stylesheets/partials/_buttons.sass */
.Openid {
  background-position: 0px -180px;
}

/* line 53, ../../../app/stylesheets/partials/_buttons.sass */
.ITJobs {
  background-position: 0px -210px;
}

/* line 5, ../../../app/stylesheets/partials/_editor.sass */
.editor_toolbar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #5c5d5e;
  border-color: #d6d6d6;
  border-style: solid;
  border-width: 1px;
  display: block;
  /* IE Quirks: editor chrome overflow horizontally without an explicit width. */
  _display: inline-block;
  padding-top: 0px;
  padding-left: 10px;
  width: 920px;
  position: absolute;
  top: 40px;
  margin-left: 5px;
  z-index: 500;
  height: 44px;
}
/* line 28, ../../../app/stylesheets/partials/_editor.sass */
.editor_toolbar .button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: url("/images/layout/editor/sprites.png");
  _background-image: url("/images/layout/editor/sprites_ie6.png");
  background-repeat: repeat-x;
  background-position: 0 -500px;
  float: left;
  padding: 2px;
  margin-top: 9px;
  margin-right: 2px;
  margin-bottom: 0px;
  margin-left: 1px;
  display: inline;
  overflow: hidden;
  height: 22px;
  width: 22px;
  color: transparent;
}
/* line 49, ../../../app/stylesheets/partials/_editor.sass */
.editor_toolbar .button span {
  background-image: url("/images/layout/editor/icons.png");
  background-position: 100px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  padding: 0px;
  margin: 3px 2px;
  display: inline-block;
  cursor: default;
  cursor: default;
  overflow: hidden;
  float: left;
}
/* line 66, ../../../app/stylesheets/partials/_editor.sass */
.editor_toolbar .button span:hover,
.editor_toolbar .button span:focus,
.editor_toolbar .button span:active {
  background-color: #dff1ff;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
/* line 74, ../../../app/stylesheets/partials/_editor.sass */
.editor_toolbar .bold span {
  background-position: 0 -304px;
}
/* line 78, ../../../app/stylesheets/partials/_editor.sass */
.editor_toolbar .italic span {
  background-position: 0 -320px;
}
/* line 82, ../../../app/stylesheets/partials/_editor.sass */
.editor_toolbar .underline span {
  background-position: 0 -336px;
}
/* line 86, ../../../app/stylesheets/partials/_editor.sass */
.editor_toolbar .strikethrough span {
  background-position: 0 -352px;
}
/* line 90, ../../../app/stylesheets/partials/_editor.sass */
.editor_toolbar .numberedlist span {
  background-position: 0 -400px;
}
/* line 94, ../../../app/stylesheets/partials/_editor.sass */
.editor_toolbar .bullets span {
  background-position: 0 -416px;
}
/* line 98, ../../../app/stylesheets/partials/_editor.sass */
.editor_toolbar .h1 span {
  background-position: 0 -1296px;
}
/* line 102, ../../../app/stylesheets/partials/_editor.sass */
.editor_toolbar .h2 span {
  background-position: 0 -1312px;
}
