#content
  position: relative
  margin:
    top: 90px
    right: auto
    button: 10px
    left: auto
  width: 950px

  .standingSeperatorLine
    background-image: url("/images/layout/content/standing-seperator-line-login.png")
    background-repeat: no-repeat
    background-position: top center

.content
  position: relative
  overflow: hidden

  .partial-box
    -moz-border-radius: 5px
    -webkit-border-radius: 5px
    border-radius: 5px
    border:
      width: 1px
      style: solid
      color: $lightgray
    background-image: url("/images/layout/content/transparant-background.png")
    float: left
    margin: 0px 10px 5px 0px
  .group-box
    float: left
    margin: 15px 10px 5px 5px
    padding: 0px
  .width-1-4
    width: 220px
  .width-2-4
    width: 457px
  .width-3-4
    width: 694px
  .width-4-4
    width: 933px
  .padding
    padding: 10px
  h1
    font-size: 20px
    font-weight: bold
    color: $green
    margin: 10px
  h2
    font-size: 18px
    font-weight: bold
    color: $green
    margin: 10px
  h3
    font-size: 16px
    font-weight: bold
    color: $gray
    margin: 10px
  h4
    font-size: 16px
    font-weight: normal
    color: $green
    margin: 10px
  p,
  input,
  textarea
    font-face: helvetica
    font-size: 16px
    color: $gray
    margin: 5px 10px
    word-wrap: break-word
    text-align: justify
    a
      color: $gray
      text-decoration: underline
    a:hover
      color: $gray
      text-decoration: none
      cursor: pointer  
  .editor,
  textarea,
  input,
  .editor
    width: 660px
    margin:
      top: 0px
      right: 0px
      bottom: 10px
      left: 0px
    padding: 4px
    background-color: white
    border:
      style: solid
      width: 1px
      color: $gray

  textarea:focus,
  input:focus,
  .editor:focus
    outline: solid 2px $lightblue

  textarea:disabled,
  input:disabled
    outline: none
    border-color: $lightgray

  .editor
    min-height: 100px

#job_description_editor,
#company_description_editor
  font-face: helvetica
  font-size: 16px
  color: $gray
  word-wrap: break-word
  text-align: justify
  a
    color: $gray
    text-decoration: underline
  a:hover
    color: $gray
    text-decoration: none
    cursor: pointer  


  .left-of-h2
    position: relative
    top: 10px
    float: right
    a
      color: $gray
      text-decoration: none
    a:hover
      color: $gray
      text-decoration: underline
      cursor: pointer

.sidebar-label
  font-weight: bold
  margin:
    left: 2px
    bottom: 3px

.sidebar-text

.sidebar-menu
  a
    color: $gray
    text-decoration: none
  a:hover
    color: $gray
    text-decoration: underline
    cursor: pointer
  

#editorToolBar
  position: absolute
  top: 138px
  left: 300px

.nicEdit-selected
  border: 0px none !important

.nicEdit-panel
  border: 0px none !important

.form_box
  padding: 0px 0px 0px 20px