
.standingSeperatorLine
  background-image: url("/images/layout/content/standing-seperator-line-login.png")
  background-repeat: no-repeat
  background-position: top center

.content
  overflow: visible
  .partial-1-4-box
    background-image: url("/images/layout/content/partial-1-4-box.png")
    background-repeat: no-repeat
    background-position: top center
    width: 222px
    float: left
    margin: 15px 10px 5px 5px
  .partial-2-4-box
    background-image: url("/images/layout/content/partial-2-4-box.png")
    background-repeat: no-repeat
    background-position: top center
    width: 459px
    float: left
    margin: 15px 10px 5px 5px
  .partial-3-4-box
    background-image: url("/images/layout/content/partial-3-4-box.png")
    background-repeat: no-repeat
    background-position: top center
    width: 696px
    float: left
    margin: 15px 10px 5px 5px
  .partial-4-4-box
    background-image: url("/images/layout/content/partial-4-4-box.png")
    background-repeat: no-repeat
    background-position: top center
    width: 933px
    float: left
    margin: 15px 10px 5px 5px
  h1
    font-size: 20px
    font-weight: bold
    color: $green
    margin: 10px
  h2
    font-size: 18px
    font-weight: bold
    color: $green
    margin: 10px
  h3
    font-size: 16px
    font-weight: bold
    color: $gray
    margin: 10px
  h4
    font-size: 16px
    font-weight: normal
    color: $green
    margin: 10px
  p, .text
    font-face: helvetica
    font-size: 16px
    color: $gray
    margin: 20px 10px 10px 10px
    word-wrap: break-word
    text-align: justify
    a
      color: $gray
      text-decoration: underline
    a:hover
      color: $gray
      text-decoration: none
      cursor: pointer

  .left-of-h2
    position: relative
    top: 10px
    float: right
    a
      color: $gray
      text-decoration: none
    a:hover
      color: $gray
      text-decoration: underline
      cursor: pointer

#editorToolBar
  position: absolute
  top: 138px
  left: 300px

.nicEdit-selected
  border: 0px none !important

.nicEdit-panel
  border: 0px none !important

.form_box
  padding: 0px 0px 0px 20px
