          
#header
  .left
  .right
    %a{:href => url_for(:controller => :'employer/jobs', :action => :edit)}
      #add-button
        #add-button-link
          add a job
  .middle
    %a{:href => '/'}
      #logo

:javascript
  document.observe("dom:loaded", function() {
    setInterval(function(){
      if ($('add-button-link').innerHTML == 'add a job') {
        $('add-button-link').update();
        $('add-button-link').insert('$100/month');
      } else {
        $('add-button-link').update();
        $('add-button-link').insert('add a job');
      }
    }, 10000);
  });
