          
#header
  .left
  .right
    %a{:href => ''}
      #add-button
        #add-button-link
          add a job
  .middle
    #logo

:javascript
  $(document).ready(function(){  
    setInterval(function(){
      if ($('#add-button-link').text() == 'add a job') {
        $('#add-button-link').text('$100/month');
      } else {
        $('#add-button-link').text('add a job');
      }
    }, 10000);
  });