%script{:type => "text/javascript"}
  initialize_with_drop_down_open = true;

%h1 Add a new job, but please login first!
%p
  %img{:src => "/images/content/job.png", :style => "float: left; margin: 5px 10px 0px 0px;"}
  You don't seem to be logged-in, and that is a bit of a problem, because in our infinite wisdom we have decided that we want to know who you are before you can place job postings on ITJo.bs. 

%p
  But don't worry this is very easy!
  %br
  %br
  %br

%p
  So please  
  %a.signUpLink sign up
  or 
  %a.signUpLink sign in
  first.

%p
  %i
    Hint: you may also create a specific account for your company incase you want to give multiple people access to your companies job postings. You could for example use the company Twitter account or create an ITJo.bs account. After that you can connect other people's accounts easily to this company account.

#latest_jobs.partial-4-4-box
  %h2 A bit more information about why?

  %p
    So why do you need to be logged-in before you can add a new job? 

  %p
    Well the reason is really simple; it enables us to make the whole experience a lot nicer for you; for example it seems very likely that you would want to manage the different job postings you may have at ITJo.bs. And that you would want to minimize the typing you need to do for each new job posting. Or how about some statistics? All these things become a lot easier when we know who you are.

  %p
    Currently posting jobs is completely free, but in the future when our service is worth the money then this will change. And for that we really need to know who you are.
