
%h1 Your next job should be perfect!
%p
  %img{:src => "/images/content/jobs_find_your_career.png", :style => "float: left; margin: 5px 10px 0px 0px;"}
  Finding a good job is hard, finding the perfect job, almost impossible! Your college's and the company are a huge factor in how happy you are in your job. Do your college's have similar views and interests? What is the overall focus of the company? What type of persons are they looking for? All kinds of questions that we will help you answer while we present you with potentially you next job. Hopefully a perfect job for you.

%p 
  Try it and hopefully you are pleasantly surprised, now I'll stop wasting your time go find your new job!

#latest_jobs.partial-4-4-box
  .left-of-h2
    %span.text employer?
    %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
    = link_to 'add a new job', 'job posting url', :class => "text"

  %h2 
    Latest listed jobs
