

#latest_jobs.partial-4-4-box
  .left-of-h2
    %span.text employer?
    %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
    = link_to 'add a new job', url_for(:controller => :'employer/jobs', :action => :edit), :class => "text"

  %h2 
    Latest listed jobs

  %table
    %tr
      %th Title
      %th Keywords
      %th Published

    - @jobs.select{ |item| item.published }.each do |employer_job|
      %tr
        %td= employer_job.title
        %td= employer_job.keywords
        %td= employer_job.published_date
