
%h1 Your next job should be perfect!
%p
  %img{:src => "/images/content/jobs_find_your_career.png", :style => "float: left; margin: 5px 10px 0px 0px;"}
  Start searching for the perfect job right now! If you want us to help you with that then 
  %a.signUpLink sign up
  now and create a customized profile. This could be as easy as importing your 
  %a{:href => "http://www.linkedin.com/"} LinkedIn 
  profile.

%p 
  Well stop wasting your time on reading this now, go find that new job of yours!

#latest_jobs.partial-4-4-box
  .left-of-h2
    %span.text employer?
    %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
    = link_to 'add a new job', url_for(:controller => :'employer/jobs', :action => :index), :class => "text"

  %h2 
    Latest listed jobs
