
= javascript_include_tag 'employer_job.js', 'lib/wysihat.js'

:javascript
  document.observe("dom:loaded", function() {
    $('add-button').hide();
  });

%h1 New job position

%p Adding a new job will cost $100 which will display your job ad for 30 days on ITJo.bs.

%div{:style=>"height: 35px"} &nbsp;

.editor_toolbar
  .editor_group
    %a.button.bold{:href => "#"}
      .icon
    %a.button.italic{:href => "#"}
      .icon
    %a.button.underline{:href => "#"}
      .icon
    %a.button.strikethrough{:href => "#"}
      .icon

  .editor_group
    %a.button.numberedlist{:href => "#"}
      .icon
    %a.button.bullets{:href => "#"}
      .icon

  .editor_group
    %a.button.p{:href => "#"}
      .icon
    %a.button.h1{:href => "#"}
      .icon
    %a.button.h2{:href => "#"}
      .icon

  .wide_button.update_button
    Save



%form{:method=>"post", :id=>"new_employer_job", :action=>"/employer/jobs", :'accept-charset'=>"UTF-8"}
  %input#utf8{:type=>"hidden", :value=>"✓", :name=>"utf8"}
  %input#authenticity_token{:type=>"hidden", :value=>"", :name=>"authenticity_token"}
  %input#job_title{:type=>"hidden", :value=>"", :name=>"job_title"}
  %input#user_id{:type=>"hidden", :value=>"", :name=>"user_id"}

  .group-box.width-3-4

    .partial-box.width-3-4
      %h2 
        Your e-mail address

      %p
        We will need your e-mail address to send you an e-mail containing a special link which you can use to manage this and other job ads that you have registered on this website. As soon as you provide us with your e-mail address we will also be able to auto save your changes.

      .padding
        .sidebar-label My e-mail address is:
        .field
          %input#email_address

    .partial-box.width-3-4
      %h2 
        Tell us about the job

      %p
        Just add the complete job description down here, you may use the different formatting options provided to you. Note that you should provide at least one header as this will be used for the title. The header does not need to be the first thing in the job description.
      
      .padding
        .sidebar-label 
          The job description is
          %i (you may use the toolbar to format the text)
          \:
        .field
          %textarea#job_description

        .sidebar-label Keywords we found by analyzing your job description:
        .field
          %input#job_found_keywords{:disabled => true}

        .sidebar-label I have these additional keywords describing the job:
        .field
          %input#job_additional_keywords

    .partial-box.width-3-4
      %h2 
        Your company
      
      %p
        We also like to know more about the company that has this job position available. 

      .padding
        .sidebar-label The company name is:
        .field
          %input#company_name

        .sidebar-label The company website is:
        .field
          %input#company_website

        .sidebar-label 
          The company description is 
          %i (you may use the toolbar to format the text)
          \:
        .field
          %textarea#company_description


    .partial-box.width-3-4
      %h2 
        Do you have a coupon?

      %p
        If you have a coupon then now is the time to use it.

      .padding
        .sidebar-label My coupon code is:
        .field
          %input#coupon_code


  .group-box.width-1-4
    #side-bar.width-1-4
      .partial-box.width-1-4
        .padding.sidebar-menu

          .wide_button
            Order

          %br
          %br
          %br

          %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
          = link_to 'your job ads', url_for(:controller => :'employer/jobs', :action => :index), :class => :text
          %br

          %img{:src => "/images/layout/content/little-green-arrow.png", :alt => "", :style => "position: relative; margin: 0px 0px -2px 0px;"}
          = link_to 'edit company profile', url_for(:controller => :'employer/jobs', :action => :edit), :class => :text
          %br


      .partial-box.width-1-4
        .padding
          .sidebar-label Job title:
          .sidebar-text#job_title_preview 
          %br

          .sidebar-label Job keywords:
          .sidebar-text Developer, C#, .Net, Ruby
          %br

