
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title= "ITJo.bs"

  %script{:type => "text/javascript"}    
    var url = "#{@initiating_url}";
    if (window.opener == null){
    location.reload();
    } else {
    window.opener.location.reload();
    window.close();
    }
    
  %body